table, td, th {
	border: 1px solid green;
}

table.list1{
	background-color: white;
	border: 2px solid green;
}

table.list1 th {
	background-color: red;
}

th {
	background-color: green;
	color: white;
}

input{
	margin-left: 10px;
	margin-bottom: 10px;
}

#mainHeading{
	color: green;
	font-size: 32px;
}

img#cart{
	height: 25px;
	width: 30px;
}

h1.login{
	color: green;
}

h4.login{
	color: green;
}

label {
	width: 100px;
}

.glyphicon{
	color : green;
	font-size: 28px;
	f	
}